{
    "presets": [
        ["@babel/preset-env", { "targets": { "node": "current" } }],
        [
            "@babel/preset-typescript",
            {
                "useBuiltIns": true
            }
        ]
    ],
    "plugins": ["tsconfig-paths-module-resolver"]
}
