<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <!--
        Content-type : application/json
        Content-type : x-www-form-urlencoded
        요청 body 
        subject=곽인구&
        왜바꿔줘야하지? 
        
    -->
        <form method="post" action="/upload3" enctype="multipart/form-data">
            <input type="text" name="subject" />
            <input type="file" name="upload1" />
            <input type="file" name="upload2" />
            <input type="file" name="upload3" />
            <input type="file" name="upload4" />
            <input type="submit" value="전송" />
        </form>
    </body>
</html>
