<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form id="frm">
            <input type="text" name="message" />
            <button type="submit">전송</button>
        </form>

        <ul id="chat"></ul>
        <script type="text/javascript">
            const socket = new WebSocket('ws://localhost:3000/1')

            socket.addEventListener('message', (event) => {
                console.log('Message from server ', event.data)
            })

            const frm = document.querySelector('#frm')
            frm.addEventListener('submit', (e) => {
                e.preventDefault()

                socket.send('hello world!')
            })
        </script>
    </body>
</html>
